# Visual Studio and .NET specific
.vs/
bin/
obj/
Debug/
Release/
*.exe
*.dll
*.pdb
*.user
*.userosscache
*.suo
*.cache
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings
*.msi
*.appx
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Visual Studio IntelliSense
*.sln.ide
*.ide

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Installer artifacts
SetupData/Output/
*.exe.config
/setup*.exe

# Windows-specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# User-specific files
*.rsuser
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Rider settings
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# JetBrains Rider
.idea/
*.sln.iml

repository.txt